<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
	<add key="SyncTimeoutMilliseconds" value="333" />
  </appSettings>
  <specFlow>
	<unitTestProvider name="MsTest.2010" />
	<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <log4net>
	<appender name="MemoryAppender" type="log4net.Appender.MemoryAppender">
	  <onlyFixPartialEventData value="true" />
	  <layout type="log4net.Layout.PatternLayout">
		<conversionPattern value="%d [%t] %-5p %m%n" />
	  </layout>
	</appender>
	<root>
	  <level value="INFO" />
	  <appender-ref ref="MemoryAppender" />
	</root>
  </log4net>
</configuration>